/* This asterisk means that it will set all of the default padding and margin to 0 */
 *{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;

} 

.sidenav {
height: 100%;
width: 200px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #000000;
overflow-x: hidden;
padding-top: 20px;
}

.sidenav a {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
}

.sidenav a:hover {
color: #cf3f3f;
}



@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

#main-body{
    margin-left: 200px;
}

#main-header{
    font-size: 50px;
    width: 100%;
    background-color: #20dd50;
    padding-top: 10px;
    padding-bottom: 10px;
}

.heading{
    margin: 20px;

}




input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    background-color:#cf3f3f;
}
.container {
    margin: 0 auto;
    padding: 16px;
    width: 500px;
    background-color: #1316cc;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}


@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}
